.container-pages{
  margin: 20px 20px 40px 20px !important;
}
.about{
  margin-top: 30px;
}
.titles-pages{
  color: #1c56a4;
  font-weight: 800;
  font-family: Helvetica;
  margin: 20px;
  text-align: center;
}

.cards-row{
  align-items: center;
  justify-content: center;
  margin-bottom: 20%;
}
.img-rows{
  padding: 10% 10px 10px 10px;
  width: 100%;
  margin-bottom: 20px;
}
.texts-justify{
  text-align: justify;
}
.text-container{
  margin: 50px 10px 20px 10px;
}
.blue-container{
  background-color: #1c56a4;
  border-radius: 10px;
  padding:30px;
  margin: 20px
}
.gray-container{
  background-color: rgb(226, 226, 226);
  border-radius: 10px;
  padding:30px;
  margin: 20px
}
.text-white{
  color: white !important;
}
.text-blue{
  color: #1c56a4 !important;
}

.help{
  margin: 20px;
}
.help-btn{
  max-width: 400px;
  align-items: center;
  justify-content: center;
}

.home-bg{
  background-color: #013A6B;
  background-image: -webkit-linear-gradient(30deg, #ffffff 60%, #f0f0f0 40%);
  min-height: 500px;
  color: white
}

.center-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-img{
  background-color: #1c56a4;
  padding:10px;
  z-index: -200;
  border-radius: 10px;
}
.img-size{
  width: 80%;
}
.custom-size-btn{
  width: 70%;
  height: 100px
}
.text-card{
  color: white !important;
  font-weight: 700;
}
.text-center{
  text-align: center;
}
.center-cards{
  align-items: center;
}

.card-row{
  display: flex;
  flex-direction: row;
}
