.container-pages{
  margin: 20px 20px 40px 20px !important;
}
.container-index{
  margin: 20px 20px 0px 20px !important;
}
.about{
  margin-top: 30px;
}

.titles-pages{
  color: #1c56a4;
  font-weight: 800;
  font-family: Helvetica;
  margin: 20px;
  text-align: center;
}
.cards-row{
  align-items: center;
  justify-content: center;
  margin-bottom: 20%;
}
.img-rows{
  padding: 10% 10px 10px 10px;
  width: 100%;
  margin-bottom: 20px;
}
.img-margin{
  margin: 20px
}
.texts-justify{
  text-align: justify;
}
.text-container{
  margin: 25px;
}
.blue-container{
  background-color: #1c56a4;
  padding:30px;
}
.gray-container{
  background-color: rgb(226, 226, 226);
  padding:30px;
}
.text-white{
  color: white !important;
}
.text-blue{
  color: #1c56a4 !important;
}
.skyblue-text{
  color: #17a2b8 !important;
}
.help{
  margin: 20px;
}
.help-btn{
  max-width: 400px;
  align-items: center;
  justify-content: center;
}
.home-bg{
  background-color: #013A6B;
  background-image: -webkit-linear-gradient(30deg, #ffffff 60%, #f0f0f0 40%);
  min-height: 500px;
  color: white
}
.center-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bg-img{
  background-color: #1c56a4;
  padding:10px;
  z-index: -200;
  border-radius: 10px;
}
.img-size{
  width: 80%;
}
.custom-size-btn{
  width: 70%;
  height: 100px
}
.text-card{
  color: white !important;
  font-weight: 700;
}
.text-center{
  text-align: center;
}
.center-cards{
  align-items: center;
}
.card-row{
  display: flex;
  flex-direction: row;
}

.card-img{
  width: 100px !important;
  margin: 10px;
}
.card-title{
  text-align: center;
  font-weight: bolder;
}
.card-margin{
  margin: 10px 0px 10px 0px;
}
.green-container{
  background-color: #28a745 !important;
  padding: 20px;
}
.yellow-container{
  background-color: #ffc107 !important;
  padding: 30px;
}
.skyblue-container{
  background-color: #17a2b8 !important;
  padding: 20px;
}
.card-campaign{
  width: 90%;
  margin: 20px;
}
.bold-text{
  font-weight: bold;
}
.italic-text{
  font-style: italic;
}
.border-radius{
  border-radius: 15px;
}
.bg-red{
  background-color: #c82333 !important;
}
.bg-green{
  background-color: #28a745 !important;
}
.bg-skyblue{
  background-color: #17a2b8 !important;
}
.bg-yellow{
  background-color: #ffc107 !important;
}
.bg-blue{
  background-color: #1c56a4 !important;
}
.hide-index{
  display: none;
}
.show-index{
  display: block;
}
.show-item-index{
  display: none !important;
}
.center-doc{
  align-items: center;
  justify-content: center;
  text-align: center;
}

.docs-icon{
  width: 80px;
  margin: 10px;
}
.margin-container{
  margin: 10px;
}

.contact-icons{
  width: 150px;
  margin: 40px 20px 40px 20px;
}

