/* .navbar {
  position: fixed !important; 
  z-index: 10000;
  width: 100%;
} */

.navbar-light .navbar-nav .nav-link {
  color: #1c56a4 !important;
}


@media only screen and (max-width: 1000px) {
  .align-left{
    justify-content: flex-start !important;
  }
  .align-right{
    justify-content: flex-end !important;
  }
}

.logo-azul {
  width: 80px;
  margin: 0px;
}

.btn-card {
  background-color: #1c56a4 !important;
  border-color: #1c56a4 !important;
}
.jumbotron {
  margin: 0px !important;
}
.jumbotron-bg {
  background-image: url("../assets/bg.png") ;
  background-size: cover;
  color: white;
}
.img-kids {
  padding: 20px;
}
.basicForm {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}
.form-control{
  border-radius: 8px !important;
}
.blue-text {
  color: #1c56a4;
  font-weight: bold;
  font-size: x-large;
}
.green-text {
  color: #28a745;
  font-weight: bold;
  font-size: x-large;
}
.red-text {
  color: #c82333;
  font-weight: bold;
  font-size: x-large;
}
.subtitle {
  color: gray;
}
.bg-list-blue {
  background-color: #1c56a4 !important;
}
.list-info {
  width: 90%;
}
.bold-title {
  font-weight: bold;
}
.cardBody-height {
  height: 150px !important;
}
.card-kids {
  max-width: 60%;
  padding: 20px;
}
.img-kids {
  width: 64;
  height: 64;
  border-radius: 50%;
}
.img-container {
  width: 100%;
}
.card-home {
  height: 300px;
}
.text-center {
  text-align: center;
}
.border-radius {
  border-radius: 15px;
}
.center-icon{
  align-items: center !important;
}
.kids-img{
  border-radius: 15px;
  padding: 20px 20px 0px 20px;
}
.to-front{
  z-index: 10000;
}
.breadcrumb{
  background-color: transparent !important;
  margin: 0px !important;
}
.small-text{
  font-size: 12px;
}
.color-text-smallCard{
  color: 1c56a4;
}
